" Leader key
let mapleader = ","

" Fast saving
nmap <leader>w :w!<cr>

" Fast quitting
nmap <leader>q :q<cr>

" Use tab with text block
vmap <Tab> >gv
vmap <S-Tab> <gv

" Disable highlight when <leader><cr> is pressed
map <silent> <leader><space> :nohl<cr>

" Esc vim modes
imap jj <Esc>

" Move vertically by visual line
nnoremap j gj
nnoremap k gk

" IDE actions
nmap <leader>f <Action>(ReformatCode)

" Common options
set hlsearch
set ignorecase
set smartcase
set smartindent
set number
set relativenumber

" Plugins
set surround
set nooldundo
set commentary
