configuration {
	lines: 5;
	font: "DejaVu Sans Mono Bold Nerd Font 12";
	location: 2;
	padding: 5;
  bw: 0;
	yoffset: 50;
	fixed-num-lines: true;
	disable-history: true;
	case-sensitive: false;
	cycle: false;
	line-padding: 10;
	separator-style: "solid";
	hide-scrollbar: true;
	click-to-exit: true;
	show-match: false;
  borderwidth: 2;
}
